.project-card {
  flex-basis: 30%;
  background: #707793;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 75px;

  @media screen and (max-width: 1224px) {
    flex-basis: 45%;
  }

  @media screen and (max-width: 767px) {
    flex-basis: 90%;
  }

  .project-skills {
    display: flex;
    justify-content: space-evenly;

    .skill {
      color: white;
      font-family: "poppins", sans-serif;
    }
  }

  img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 300px;

    @media screen and (max-width: 767px) {
      min-height: 200px;
      height: initial;
    }
  }

  h4 {
    text-align: center;

    @media screen and (max-width: 767px) {
      padding: 0 10px;
    }
  }

  p {
    color: white;
    font-family: "poppins", sans-serif;
    text-align: center;
    padding: 0 20px;
  }

  a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    border-radius: 10px;
    display: block;
    max-width: 200px;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.25s;
    &:hover {
      // background: lighten(#3bb99b, 10%);
      -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.35);
    }
    &:active {
      background: darken(#3bb99b, 20%);
    }
  }
}
